*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("images/martin-adams-_OZCl4XcpRw-unsplash.jpg");
}

#top{
    display: flex;
    justify-content: center;
    padding: 25px;
    border: 5px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: none;
    background-image: url("/images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg");
    color: #ccc;
}

main{
    min-height: 87.2vh;
    display: flex;
    flex-direction: row;
}

#left{
    flex-basis: 25%;
    border: 5px solid #ccc;
    border-top: none;
    border-left: none;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* max-height: 50hv;  */
    overflow-y: scroll;
    overflow-x: hidden;
    height: 87.2vh;
}

#left .exam-item{
    border: 1px solid white;
    padding: 10px;
    width: 22.4vw;
    background-color: rgb(54, 188, 255);
}

#left .exam-item:hover{
    opacity: 0.9;
    border-width: 3px;
}


#left .exam-item img{
    width: 18px;
}

#left-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    background-image: url("images/martin-adams-_OZCl4XcpRw-unsplash.jpg");
    padding-bottom: 10px;
    z-index: 10;
}

.search{
    display: flex;
    align-items: center;
    background-color: white;
    justify-content:space-around;
    padding: 5px 15px;
    margin: 10px;
}

.search input{
    border-color: transparent;
    text-align: center;
    width: 290px;
    padding: 8px;
}

.search input:focus{
    outline-color: transparent;
}


.search img{
    width: 15px;
}

.sort-options #sort-options-form{
    background-color: rgba(255, 255, 255, 0.386);
    display: flex;
    justify-content: space-around;
    padding: 1px;
    width: 336px;
    color: white;
}

#left-middle .exam-item{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

#left-middle .exam-item h1{
    align-self: center;
    max-width: 15vw;
    overflow-x:hidden;
}

#left-middle .exam-item .item-content{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}


#left-bottom button{
    width: 23vw;
    padding: 15px;
    margin-bottom: 10px;
}

#left-bottom{
    position: sticky;
    bottom: 0;
    left: 0;
    background-image: url("images/martin-adams-_OZCl4XcpRw-unsplash.jpg");
    padding-top: 10px;
}

#right{
    flex-basis: 75%;
    border: 5px solid #ccc;
    border-top: none;
    border-left: none;
    max-height: 87.2vh;
}

#right-top{
    display: flex;
    justify-content: space-between;
}

.set-time #hours,.set-time #minutes,.set-time #seconds{
    width: 40px;
}

#exam-name,#exam-duration{
    background-color: rgb(54, 188, 255);
    border: 1px solid white;
    padding: 15px;
    margin: 10px;
}

#right-top{
    background-color: black;
    border-bottom: 5px solid white;
}

#right-middle{
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.497);
}

#right-middle ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

#right-middle ul li{
    border: 1px solid white;
    padding: 12px;
    background-color: rgb(54, 188, 255);
    transition: 1.4s;
}

#right-middle ul li:hover{
    background-color: white;
    border-radius: 50px;
    cursor: pointer;
}

#right-middle img{
    width: 35px;
}


